body {
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.garlicHeader {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.garlicPrice {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}