body {
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.garlicHeader {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.garlicPrice {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bankBalance {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}