body {
	overflow:hidden;
	font:16px -apple-system-font,".Helvetica NeueUI","Helvetica Neue",sans-serif;
}

.backgroundImage {
    height:100%;
    width:100%;
    background-image: url("https://source.unsplash.com/1600x900/?dark,night,mountains"); 
    background-size: cover;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    position: absolute;
    transform: scale(1.1);
    z-index: -1;
    left:0;
    top: 0;
}

/* Done handling stuff with body. Other stuff handled below. */

.pageTitle h1 {
	text-align: center;
	color: white;
	font-size: 90px;
	font-weight: lighter;
	top: 25px;
}

.pageTitle p {
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: lighter;
}

/* Will now handle video player stuff */

.videoPlayer {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoUrl input[type=text] {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid white;
    border-radius: 8px;
    padding: 12px 20px;
    background-color: transparent;
    color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Donation button */

.donationButton button {
    position:fixed;
    top: 95%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border-radius: 6px;
    padding: 12px 20px;
    color: black;
    font-weight: bold;
    border: 3px solid white;
}