body {
	background-color: black;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1, h2, h3, p, a, td {
	color: white;
}

h2 {
	font-weight: lighter;
}

.desc {
	width: 400px;
}

.ship {
	font-size: 15px;
	font-style: italic;
}

.cover {
	width: 400px;
	height: 400px;
}

.product {
	margin: 5%;
}

.paypal {
	position: absolute;
	top: 45%;
	left: 60%;
	transform: translate(-50%, -50%);
}