body {
	background-color: white;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	text-align: center;
}

h2 {
	font-weight: lighter;
}

.center {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}