body {
	background-color: #212121;
	font-family: OCR A Std, monospace;
}

p, h1, h2, h3 {
	color: #bfbfbf;
}

.title {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 90%;
	overflow-wrap: break-word;
}

.boxUno {
	position: absolute;
	top: 90%;
	left: 10%;
	transform: translate(-50%, -50%);
}

.time {
	position: absolute;
	top: 90%;
	left: 90%;
	transform: translate(-50%, -50%);
}